/* General form styling */
form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Splits the form into two columns */
  gap: 20px; /* Adjust the space between columns */
  padding: 20px;
  background-color: #fff; /* Replace with the color of your form background */
}

.parking-garage-container,
.parking-garage-utilities-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Styling for text labels and input fields */
.parking-garage-text {
  font-weight: bold; /* Adjust as needed */
  margin-bottom: 5px;
}

.parking-garage-edit {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc; /* Replace with your preferred border color */
  margin-bottom: 10px;
}

.parking-garage-content {
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #f5f5f5; /* Replace with your preferred background color */
  border-radius: 5px;
}

/* Button styling */
.parking-garage-edit-button {
  background-color: #f90; /* Replace with your preferred button color */
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.parking-garage-edit-button:hover {
  background-color: #e80;
}

input[type="checkbox"] {
  display: none;
}

.parking-garage-checkbox::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
  margin-left: 8px;
}

input[type="checkbox"]:checked + .parking-garage-checkbox::before {
  background-color: #f90;
}

.parking-garage-checkboxes-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.parking-garage-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  form {
      grid-template-columns: 1fr;
  }
}
