/* General form styling */
.garage-input {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto; 
  gap: 10%; 
  background-color: #fff; 
  padding-bottom: 20px; 
}

.form-grid {
  grid-row: 1; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.textFieldMarginTop {
  margin-top: 30px !important;
}

.parking-garage-container,
.parking-garage-utilities-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.parking-garage-text {
  font-weight: bold; 
  margin-bottom: 5px;
}

.parking-garage-edit {
  padding: 10px;
  width: 70%;
  border: 2px solid #ffa600; 
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 90%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.parking-garage-content {
  padding: 10px;
  max-width: 90%;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #d2d1d1;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.parking-garage-content:hover{
  transform: scale(1.015);
  background-color: #eceaea;
}

.parking-garage-content:focus{
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.3);
}

.parking-garage-edit-button {
  margin-left: 6%;
  max-height: 100%;
  max-width: max-content;
  background-color: #DA4A0C;
  color: white;
  border: none;
  padding: 10.5px 20px;
  font-size: large;
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.parking-garage-edit-button:hover{
  transform: scale(1.03);
  background-color: #e80;
}

.parking-garage-edit-button:focus{
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.3);
  transform: scale(0.95);
}

input[type="checkbox"] {
  /* display: none; */
  width: 30px;
  height: 30px;
  margin-left: 20px;
  
}



.parking-garage-checkbox::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
  margin-left: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.parking-garage-checkbox{
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.parking-garage-checkbox:hover{
 transform: scale(1.2);
}

input[type="checkbox"]:checked + .parking-garage-checkbox::before {
  background-color: #f90;
}

.parking-garage-checkboxes-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.parking-garage-checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
}

.crud-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  bottom: 0%;
}

.crud-button{
  margin-left: 6%;
  max-height: 100%;
  max-width: max-content;
  background-color: #DA4A0C;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 5%;
  font-weight: bold;
  font-size: large;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.crud-button:hover{
  transform: scale(1.02);
  background-color: #e80;
}

.crud-button:focus{
  box-shadow: inset 0 3px 3px rgba(0,0,0,0.3);
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .garage-input {
      grid-template-columns: 1fr; /* Stack the columns on smaller screens */
      grid-template-rows: auto; /* Adjust rows for a single column layout */
  }
  .form-grid {
      grid-template-columns: 1fr; /* Stack the form fields in a single column */
  }
  .crud-button-container {
      flex-direction: column; /* Stack the buttons on top of each other */
  }
}
